//Random palette
$greenapple : #8ede4d;
$cyan: #5cd0fe;
$lightblue: #53aeff;
$shipcove: #7b80a1;
$sunflower: #FDB913;
$aqua: #38d8ae;
$purple: #6a82f5;
$indigo: #4da8f9;
$pink: #ff94b9;
$berry: #ff7474;
$orange: #e6612c;

//Bootstrap override colors
$success: #48ce65;
$danger: #e72323;
$info: #237fe7;
$primary: #5936ce;
$secondary: #9683d3;
$default: $primary;

//Bootstrap override values
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "danger": $danger
);
//Font names
$font:'OpenSans';
$font-bold:'OpenSans-Bold';
$font-bold-italic:'OpenSans-BoldItalic';
$font-extra-bold:'OpenSans-Extrabold';
$font-italic: 'OpenSans-Italic';
$font-light: 'OpenSans-Light';
$font-semibold: 'OpenSans-Semibold';
$font-semibold-italic: 'OpenSans-SemiboldItalic';
$font-light-italic: 'OpenSansLight-Italic';
$font-brand: 'LeagueGothic-CondensedRegular';
$bub: 'bub';

//Custom sizes
$menu-mobile: 250px;
$game-card-height: 242px;
$card-start-height: 242px;
$card-end-height: 325px;